<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-grey scrolling-navbar" [containerInside]="false">
   
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" routerLink=""> Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" routerLink="internship">internships</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" routerLink="projects">projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" routerLink="blogs">blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" routerLink="contact">contact</a>
            </li>
        </ul>
    </links>
</mdb-navbar>
