           
 <!--Section: Features v.1-->
 <section class="text-center">
  
  <!--Grid row-->
  <div class="row footer_content">

  <!--Grid column-->
  <div class="col-md-4 mb-r">
      <i class="fa fa-area-chart fa-3x red-text"></i>
      <h5 class="font-bold mt-3">Analytics</h5>
      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti
      hic.
      </p>
  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-md-4 mb-r">
      <i class="fa fa-book fa-3x cyan-text"></i>
      <h5 class="font-bold mt-3">Tutorials</h5>
      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti
      hic.
      </p>
  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-md-4 mb-r">
      <i class="fa fa-comments-o fa-3x orange-text"></i>
      <h5 class="font-bold mt-3">Support</h5>
      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti
      hic.
      </p>
  </div>
  <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Features v.1-->
