<div class="content">
  <h3>Hi there!</h3>
  <p>
    My name is Lloyd Stumpel, I am currently studying to be a Java app developer.
    but have been coding on and off again from 5th grade.
    Thanks to my internship at Poort80, I have developed a genuine interest for
    NodeJs and the mean-stack. Which I used for creating this website. 
    The mean-stack stands for:
  </p>
    <ul>
      <li><u>M</u>ongoDB: A Nosql database.</li>
      <li><u>E</u>xpressjs: A framework for NodeJs.</li>
      <li><u>A</u>ngular: Front end framework(version 5)</li>
      <li><u>N</u>odeJs: Javascript server.</li>
    </ul>
  <p>
    I want to talk more about the meanstack then i want to talk about java.
    As a mean stack developer. You mostly focus on the backend (server/ db) and really only use the front end to display/generate data.
    for me personally this is great, since i know the basics of html and the very basics of css(hence the bootstrap css library) 
  </p>
  
  
  <h1>TODO: more text:</h1>
  can use:
  <ul>
    <li>mean-stack</li>
    <li>jquery</li>
    <li>angularjs*<sup>1</sup></li>
    <li>javascript</li>
    <li>java</li>
  </ul>
  <p>*<sup>1</sup> angularjs is named separately here since there is angularjs (version 1.x) and angular2(version 5.x), Both are written and maintained by google,
    angular2 was a complete rewrite of angular js, and the rewrite focused mostly on being able to better maintain code.
  </p>
</div>

