<div class="content">
  <button (click)="logout()">logout</button>
<h2>new blog</h2>
<label>title:</label><br>
<textarea rows="1" cols="30" value="" #blogTitle></textarea><br>
<label>body:</label><br>
<textarea rows="15" cols="100"value="" #blogBody></textarea><br>
<!--<div contentEditable='true' style="width: 50%; height: 4em; border: 1px solid black" #blogBody>test</div>-->
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="post(blogTitle.value, blogBody.value)"> add </button>
<hr>

<div class="crud blogs" >
  <div *ngFor="let b of results" >
    <div>id="{{b._id}}"</div>
      <textarea rows="1" cols="30" value="{{b.title}}" #newTitle></textarea><br>
      <textarea rows="15" cols="100" (keyup)="newBody.value" value="{{b.body}}" #newBody></textarea><br>

      <button class="update" title="delete blog" (click)="updateBlog([b._id], newTitle.value, newBody.value) ">Update</button>
    <button class="delete" title="delete blog" (click)="deleteBlog([b._id]) ">Del</button>


    <div id="preview">
      <h1>Preview of: {{newTitle.value}}</h1>
      <p [innerHTML]="newBody.value"></p>
    </div>
    <hr>
  </div>

</div>


