.mapContainer {
    width:44em;
}
div#map{
    border: 1px solid black;
    display: inline-flex;
    width: 4em;
    height: 4em;
    text-align: center;
    border-collapse: collapse
}

cell {
    width: 4em;
    height: 4em;
    display: inline-flex;
}

.path{

     background-image: url("../img/2x2-sand-path,50X50.jpg");
     background-size: 4em;

 }
 .bedrock .bedrock{
    background-color: grey !important;
    background-image: url("../img/9046OT_08_08.jpg");
    background-size: 4em 4em;
}


.player {
    background-color: blue;
    background-image: none;
    background-size: 4em;
}
.bomb {
    /*background-color: red !important;*/
    background-image: url("../img/bomb_circle_0.png");
    background-size: 4em;
}
.explosion {
    /*background-color: orange;*/
    background-image: url("../img/fireball.jpg");
    background-size: 4em 4em;

}
